---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p></p>
<hr>
<p></p>

<pre>
<b>Lead Teaching Assistant: Computer Networks (ECS 152A)</b>  
<i>University of California, Davis</i>, Spring 2022
><i><font size="3"> Designed Course Projects on Implementing HTTP Client Server Model and Implementing TCP Protocol.</font></i>
><i><font size="3"> Conducted Weekly Discussion Sessions and Office Hours.</font></i>
><i><font size="3"> Designed, Proctored and Graded Quizzes & Exams.</font></i>
><i><font size="3"> <a href="https://github.com/Yash-Vekaria/HTTPClientServer">Project 1</a>: Implementing UDP Ping, UDP Iperf and HTTP Client Server Model (<a href="https://docs.google.com/document/d/1P-p3-W50nj2-XBY3YjoPUNJxugvgHNPYlaPlfa375bk/edit?usp=sharing">Project Description</a>)</font></i>
</pre>

<p></p>
<hr>
<p></p>

<pre>
<b>Teaching Assistant: Data Structures & Algorithms Lab</b>  
<i>The LNM Institute of Information Technology</i>, Spring 2019
</pre>

<p></p>
<hr>
<p></p>

<pre>
<b>Teaching Assistant: Computer Organization & Architecture Lab</b>  
<i>The LNM Institute of Information Technology</i>, Fall 2018
</pre>

<p></p>
<hr>
<p></p>

<pre>
<b>Teaching Assistant: Computer Programming Lab</b>  
<i>The LNM Institute of Information Technology</i>, Fall 2017
</pre>


<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
