---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p></p>
<hr>
<p></p>

<pre>
<b>Teaching Assistant: Data Structures & Algorithms Lab</b>  
<i>The LNM Institute of Information Technology</i>, Spring 2019
</pre>

<p></p>
<hr>
<p></p>

<pre>
<b>Teaching Assistant: Computer Organization & Architecture Lab</b>  
<i>The LNM Institute of Information Technology</i>, Fall 2018
</pre>

<p></p>
<hr>
<p></p>

<pre>
<b>Teaching Assistant: Computer Programming Lab</b>  
<i>The LNM Institute of Information Technology</i>, Fall 2017
</pre>


<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
